<a href="https://colab.research.google.com/github/AzizOzmen/All_Methods/blob/main/ListMethods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python has a set of built-in methods that you can use on lists/arrays. [link text](https://www.programiz.com/python-programming/methods/list) [link text](https://www.w3schools.com/python/python_ref_list.asp)

Method	Description

**append()**	Adds an element at the end of the list

**clear()**	Removes all the elements from the list

**copy()**	Returns a copy of the list

**count()**	Returns the number of elements with the specified value

**extend()**	Add the elements of a list (or any iterable), to the end of the current list

**index()**	Returns the index of the first element with the specified value

**insert()**	Adds an element at the specified position

**pop()**	Removes the element at the specified position

**remove()**	Removes the first item with the specified value

**reverse()**	Reverses the order of the list

**sort()**	Sorts the list

# **WATCH OUT:** if any method only updates the current list and you want to assign to a new variable or put it inside print() built-in function for printing, it doesn't return anything; just returns None

# **append()**

**Definition and Usage**

The append() method appends an element to the end of the list.

**Syntax:** list.append(elmnt)

**Parameter Values**

**elmnt	Required**. An element of any type (string, number, object etc.)

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")  # print just original variable WITHOUT either making any new assignment
                         # or puting the method inside the print() built-in function  
                         # since append() method updates (modify) the current list
                         # some methods like append() do NOT need any assignment 
                         # if just modifiying original variable
                         # otherwise it will print NONE if you make a new assignment
                         # or put the method inside the print() built-in function 
print(fruits)

x = fruits.append("orange")
print(x)  # returns None
print(fruits.append("orange"))  # returns None

['apple', 'banana', 'cherry', 'orange']
None
None

In [ ]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)

print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [ ]:
# animals list
animals = ['cat', 'dog', 'rabbit']

# 'guinea pig' is appended to the animals list
animals.append('guinea pig')

# Updated animals list
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'rabbit', 'guinea pig']

In [ ]:
# animals list
animals = ['cat', 'dog', 'rabbit']

# list of wild animals
wild_animals = ['tiger', 'fox']

# appending wild_animals list to the animals list
animals.append(wild_animals)

print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'rabbit', ['tiger', 'fox']]

It is important to notice that, a single item (wild_animals list) is added to the animals list in the above program.

If you need to add items of a list to another list (rather than the list itself), use the **extend()** method.

# **clear()**

**Definition and Usage**

The clear() method removes all the elements from a list.

**Syntax**: list.clear()

**Parameter Values**

No parameters

In [ ]:
# Remove all elements from the fruits list:

fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.clear()
print(fruits)

[]

The clear() method only empties the given list. It doesn't return any value.

Note: If you are using Python 2 or Python 3.2 and below, you cannot use the clear() method. You can use the del operator instead.

In [ ]:
# Defining a list
list = [{1, 2}, ('a'), ['1.1', '2.2']]

# clearing the list
del list[:]  # in del() method you have to use parameter

print('List:', list)

List: []

Visit this page to learn how del operator works in Python. [link text](https://www.programiz.com/python-programming/del)

# **copy()**

**Definition and Usage**

The copy() method returns a copy of the specified list.

**Syntax**: list.copy()

**Parameter Values**

No parameters

In [ ]:
# Copy the fruits list:

fruits = ['apple', 'banana', 'cherry', 'orange']
x = fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# A list can be copied using the = operator. For example,

old_list = [1, 2, 3]
​new_list = old_list

SyntaxError: ignored

The problem with copying lists in this way is that if you modify new_list, old_list is also modified. It is because the new list is referencing or pointing to the same old_list object.

In [ ]:
old_list = [1, 2, 3]
new_list = old_list

# add an element to list
new_list.append('a')

print('New List:', new_list)
print('Old List:', old_list)

New List: [1, 2, 3, 'a']
Old List: [1, 2, 3, 'a']

However, if you need the original list unchanged when the new list is modified, you can use the copy() method.

The syntax of the copy() method is:

In [ ]:
new_list = list.copy()

In [ ]:
# mixed list
my_list = ['cat', 0, 6.7]
print('Original List:', my_list)

# copying a list
new_list = my_list.copy()
print('Copied New List:', new_list)

# add an element to list
new_list.append('a')
print('Modified New List:', new_list)

print('Original List:', my_list)

Original List: ['cat', 0, 6.7]
Copied New List: ['cat', 0, 6.7]
Modified New List: ['cat', 0, 6.7, 'a']
Original List: ['cat', 0, 6.7]

If you modify the new_list in the above example, my_list will not be modified.

**Copy List Using Slicing Syntax**

In [ ]:
# shallow copy using the slicing syntax

# mixed list
list = ['cat', 0, 6.7]

# copying a list using slicing
new_list = list[:]

# Adding an element to the new list
new_list.append('dog')

# Printing new and old list
print('Old List:', list)
print('New List:', new_list)

Old List: ['cat', 0, 6.7]
New List: ['cat', 0, 6.7, 'dog']

# **count()**

**Definition and Usage**

The count() method returns the number of elements with the specified value.

**Syntax:** list.count(value)

**Parameter Values**

**value	Required**. Any type (string, number, list, tuple, etc.). The value to search for.

In [ ]:
# Return the number of times the value "cherry" appears in the fruits list:

fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")
print(x)
print(fruits.count("cherry"))   # Unlike append() method, you can either assign 
                                # count() method a new variable or put it inside print() 
                                # built-in funtion for printing
                                # since count() method returns an outcome (value) without any assignment 
                                # and it does NOT updates (modify) the current list
                                # some methods do NOT need any assignment if modifiying variable
                                # otherwise it will print NONE if you make a new assignment

1
1

In [ ]:
 # print just variable without making any new assignment
                         # since append() method updates (modify) the current list
                         # some methods do NOT need any assignment if just modifiying variable
                         # otherwise it will print NONE if you make a new assignment

In [ ]:
fruits = ['apple', 'banana', 'cherry']

print(fruits.count("cherry"))

1

In [ ]:
# Return the number of times the value 9 appears int the list:

points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

print(points.count(9))

2

In [ ]:
# vowels list
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

# count element 'i'
count = vowels.count('i')

# print count
print('The count of "i" element is:', count)

# count element 'p'
count = vowels.count('p')

# print count
print('The count of "p" element is:', count)
print(vowels.count('p'))

The count of "i" element is: 2
The count of "p" element is: 0
0

**Count Tuple and List Elements Inside List**

In [ ]:
# random list
random = ['a', ('a', 'b'), ('a', 'b'), [3, 4]]

# count element ('a', 'b')
count = random.count(('a', 'b'))

# print count
print("The count of ('a', 'b') is:", count)

# count element [3, 4]
count = random.count([3, 4])

# print count
print("The count of [3, 4] is:", count)
print(random.count([3, 4]))

The count of ('a', 'b') is: 2
The count of [3, 4] is: 1
1

# **extend()**

**Definition and Usage**

The extend() method adds the specified list elements (or any iterable) to the end of the current list.

**Syntax :** list.extend(iterable)

**Parameter Values**

**iterable	Required**. Any iterable (list, set, tuple, etc.)

In [ ]:
# Add a tuple to the fruits list:

fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)

print(fruits)  # be aware of the outcome by comparing with append() method
print(fruits.extend(points))  # returns None

['apple', 'banana', 'cherry', 1, 4, 5, 9]
None

Here, all the elements of iterable (points) are added to the end of fruits one by one.

As mentioned, the extend() method takes an iterable such as list, tuple, string etc.

The extend() method modifies the original list. It doesn't return any value.

In [ ]:
# languages list
languages = ['French', 'English']

# another list of language
languages1 = ['Spanish', 'Portuguese']

# appending language1 elements to language
languages.extend(languages1)

print('Languages List:', languages)

Languages List: ['French', 'English', 'Spanish', 'Portuguese']

**Add Elements of Tuple and Set to List**

In [ ]:
# languages list
languages = ['French']

# languages tuple
languages_tuple = ('Spanish', 'Portuguese')

# languages set
languages_set = {'Chinese', 'Japanese'}  # WATCH OUT, elements will be added unorderly

# appending language_tuple elements to language (extending the list of languages)
languages.extend(languages_tuple)

print('First Extended New Language List:', languages)

# appending language_set elements to language (again extending the list of languages)
languages.extend(languages_set)

print('Second Extended Newer Languages List:', languages)

First Extended New Language List: ['French', 'Spanish', 'Portuguese']
Second Extended Newer Languages List: ['French', 'Spanish', 'Portuguese', 'Japanese', 'Chinese']

# **index()**

**Definition and Usage**

The index() method returns the position at the first occurrence of the specified value.

**Syntax :** list.index(element)

**Parameter Values**

**element	Required**. Any type (string, number, list, etc.). The element to search for

In [ ]:
# What is the position of the value "cherry":

fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")

print(x)
print(fruits.index("cherry"))

2
2

In [ ]:
# What is the position of the value 32:

fruits = [4, 55, 64, 32, 16, 32]

print(fruits.index(32))

3

The index() method returns the index of the given element in the list.

If the element is not found, a ValueError exception is raised.

**Note:** The index() method only returns the first occurrence of the matching element.

In [ ]:
# vowels list
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

# index of 'e' in vowels
index = vowels.index('e')
print('The index of e:', index)
print(vowels.index('e'))

# element 'i' is searched
# index of the first 'i' is returned
index = vowels.index('i')

print('The index of i:', index)
print(vowels.index('i'))

The index of e: 1
1
The index of i: 2
2

In [ ]:
# Index of the Element not Present in the List

# vowels list
vowels = ['a', 'e', 'i', 'o', 'u']

# index of'p' is vowels
index = vowels.index('p')
print('The index of p:', index)  #  ValueError: 'p' is not in list

# **insert()**

**Definition and Usage**

The insert() method inserts the specified value at the specified position.

**Syntax:** list.insert(position, element)

**Parameter Values**

**position	Required**. A number specifying in which position to insert the value
**elmnt	Required**. An element of any type (string, number, object etc.)

In [ ]:
# Insert the value "orange" as the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")  # the second element means index[1]

print(fruits)

['apple', 'orange', 'banana', 'cherry']

The insert() method takes two parameters:

index - the index where the element needs to be inserted

element - this is the element to be inserted in the list

**Notes:**

If index is 0, the element is inserted at the beginning of the list.

If index is 3, the element is inserted after the 3rd element. Its position will be 4th.

The insert() method doesn't return anything; returns None. It only updates the current list.

In [ ]:
# vowel list
vowel = ['a', 'e', 'i', 'u']

# 'o' is inserted at index 3
# the position of 'o' will be 4th
vowel.insert(3, 'o')

print('Updated List:', vowel)

print(vowel.insert(3, 'o'))  # returns None

Updated List: ['a', 'e', 'i', 'o', 'u']
None

**Inserting a Tuple (as an Element) to the List**

In [ ]:
mixed_list = [{1, 2}, [5, 6, 7]]

# number tuple
number_tuple = (3, 4)

# inserting a tuple to the list
mixed_list.insert(1, number_tuple)

print('Updated List:', mixed_list)

Updated List: [{1, 2}, (3, 4), [5, 6, 7]]

# **pop()**

**Definition and Usage**

The pop() method removes the element at the specified position.

**Syntax:** list.pop(position)

**Parameter Values**

**position	Optional**. A number specifying the position of the element you want to remove, default value is -1, which returns the last item

In [ ]:
# Remove the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

print(fruits)

['apple', 'cherry']

In [ ]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.pop(1)

print(x)

banana

**Note:** The pop() method returns removed value.

The pop() method takes a single argument (index).

The argument passed to the method is optional. If not passed, the default index -1 is passed as an argument (index of the last item).

If the index passed to the method is not in range, it throws IndexError: pop index out of range exception.

In [ ]:
# programming languages list
languages = ['Python', 'Java', 'C++', 'French', 'C']

# remove and return the 4th item
return_value = languages.pop(3)
print('Return Value:', return_value)

# Updated List
print('Updated List:', languages)

Return Value: French
Updated List: ['Python', 'Java', 'C++', 'C']

If you need to pop the 4th element, you need to pass 3 to the pop() method.

**pop() without an index, and for negative indices**

In [ ]:
# programming languages list
languages = ['Python', 'Java', 'C++', 'Ruby', 'C']

# remove and return the last item
print('When index is not passed:') 
print('Return Value:', languages.pop())
print('Updated List:', languages)

# remove and return the last item
print('\nWhen -1 is passed:') 
print('Return Value:', languages.pop(-1))
print('Updated List:', languages)

# remove and return the third last item
print('\nWhen -3 is passed:') 
print('Return Value:', languages.pop(-3))
print('Updated List:', languages)

When index is not passed:
Return Value: C
Updated List: ['Python', 'Java', 'C++', 'Ruby']

When -1 is passed:
Return Value: Ruby
Updated List: ['Python', 'Java', 'C++']

When -3 is passed:
Return Value: Python
Updated List: ['Java', 'C++']

If you need to remove the given item from the list, you can to use the remove() method. [link text](https://www.programiz.com/python-programming/methods/list/remove)

And, you can use the del statement to remove an item or slices from the list. [link text](https://www.programiz.com/python-programming/del#items-list)

# **remove()**

**Definition and Usage**

The remove() method removes the first occurrence of the element with the specified value.

**Syntax:** list.remove(element)

**Parameter Values**

**element	Required**. Any type (string, number, list etc.) The element you want to remove

In [ ]:
# Remove the "banana" element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")

print(fruits)
# print(fruits.remove("banana"))  # ValueError: list.remove(x): x not in list

['apple', 'cherry']

In [ ]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.remove("banana")

print(x)  # returns None

None

The remove() method takes a single element as an argument and removes it from the list.

If the element doesn't exist, it throws ValueError: list.remove(x): x not in list exception.

The remove() doesn't return any value (returns None).

In [ ]:
# animals list
animals = ['cat', 'dog', 'rabbit', 'guinea pig']

# 'rabbit' is removed
animals.remove('rabbit')

# Updated animals List
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'guinea pig']

**remove() method on a list having duplicate elements**

If a list contains duplicate elements, the remove() method only removes the first matching element.

In [ ]:
# animals list
animals = ['cat', 'dog', 'dog', 'guinea pig', 'dog']

# 'dog' is removed
animals.remove('dog')

# Updated animals list
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'guinea pig', 'dog']

Here, only the first occurrence of element 'dog' is removed from the list.

**Deleting element that doesn't exist**

In [ ]:
# animals list
animals = ['cat', 'dog', 'rabbit', 'guinea pig']

# Deleting 'fish' element
animals.remove('fish')

# Updated animals List
print('Updated animals list: ', animals)  # ValueError: list.remove(x): x not in list

If you need to delete elements based on the index (like the fourth element), you can use the pop() method.  [link text](https://www.programiz.com/python-programming/methods/list/pop)

Also, you can use the Python del statement to remove items from the list. [link text](https://www.programiz.com/python-programming/del)

**Definition and Usage**

The reverse() method reverses the sorting order of the elements.

**Syntax:** list.reverse()

**Parameter Values**

No parameters

**Related Pages**

The buil-in function reversed() returns a reversed iterator object. [link text](https://www.w3schools.com/python/ref_func_reversed.asp)

In [ ]:
# Reverse the order of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.reverse()
print(fruits)
print(fruits.reverse())  # returns None

['cherry', 'banana', 'apple']
None

The reverse() method doesn't take any arguments.

The reverse() method doesn't return any value. It updates (modifies) the existing list.

In [ ]:
# Operating System List
systems = ['Windows', 'macOS', 'Linux']
print('Original List:', systems)

# List Reverse
systems.reverse()

# updated list
print('Updated List:', systems)

Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']

There are other several ways to reverse a list.

**Reverse a List Using Slicing Operator**

In [ ]:
# Operating System List
systems = ['Windows', 'macOS', 'Linux']
print('Original List:', systems)

# Reversing a list	
#Syntax: reversed_list = systems[start:stop:step] 
reversed_list = systems[::-1]

# updated list
print('Updated List:', reversed_list)

Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']

**Accessing Elements in Reversed Order**

In [ ]:
# If you need to access individual elements of a list in the reverse order, 
# it's better to use reversed() function.

# Operating System List
systems = ['Windows', 'macOS', 'Linux']

# Printing Elements in Reversed Order
for i in reversed(systems):
    print(i)

Linux
macOS
Windows

# **sort()**

**Definition and Usage**

The sort() method sorts the list ascending by default.

You can also make a function to decide the sorting criteria(s).

**Syntax:** list.sort(reverse=True|False, key=myFunc)

**Parameter Values**

**reverse	Optional**. reverse=True will sort the list descending. Default is reverse=False

**key	Optional**. A function to specify the sorting criteria(s)

In [ ]:
# Sort the list alphabetically:

cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)
print(cars.sort())  # returns None

['BMW', 'Ford', 'Volvo']
None

In [ ]:
# Sort the list descending:

cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)  # Since default value is reverse=False

print(cars)

['Volvo', 'Ford', 'BMW']

In [ ]:
# Sort the list by the length of the values:

# A function that returns the length of the value:

def myFunc(x):
  return len(x)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)

print(myFunc(cars))
print(cars)

4
['VW', 'BMW', 'Ford', 'Mitsubishi']

In [ ]:
# Sort a list of dictionaries based on the "year" value of the dictionaries:

# A function that returns the 'year' value:

def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [ ]:
# Sort the list by the length of the values and reversed:

# A function that returns the length of the value:

def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc)

print(cars)
print(myFunc(cars))

['Mitsubishi', 'Ford', 'BMW', 'VW']
4

Alternatively, you can also use Python's built-in **sorted()** function for the same purpose.

sorted(list, key=..., reverse=...)

**Note:** The simplest **difference** between sort() and sorted() is: sort() changes the list directly and doesn't return any value, while sorted() doesn't change the list and returns the sorted list.

The sort() method doesn't return any value. Rather, it changes the original list.

If you want a function to return the sorted list rather than change the original list, use sorted().

In [ ]:
# vowels list
vowels = ['e', 'a', 'u', 'o', 'i']

# sort the vowels
vowels.sort()

# print vowels
print('Sorted list:', vowels)

Sorted list: ['a', 'e', 'i', 'o', 'u']

The sort() method accepts a reverse parameter as an optional argument.

Setting reverse = True sorts the list in the descending order.

In [ ]:
list.sort(reverse=True)

In [ ]:
# Sort the list in Descending order

# vowels list
vowels = ['e', 'a', 'u', 'o', 'i']

# sort the vowels
vowels.sort(reverse=True)

# print vowels
print('Sorted list (in Descending):', vowels)

Alternately for sorted(), you can use the following code.

In [ ]:
sorted(list, reverse=True)

**Sort with custom function using key**

If you want your own implementation for sorting, the sort() method also accepts a key function as an optional parameter.

Based on the results of the key function, you can sort the given list.

In [ ]:
list.sort(key=len)

Alternatively for sorted:

In [ ]:
sorted(list, key=len)

Here, len is the Python's in-built function to count the length of an element.

The list is sorted based on the length of each element, from lowest count to highest.

**Sort the list using key**

We know that a tuple is sorted using its first parameter by default. Let's look at how to customize the sort() method to sort using the second element.

In [ ]:
# take second element for sort
def takeSecond(elem):
    return elem[1]

# random list
random = [(2, 2), (3, 4), (4, 1), (1, 3)]

# sort list with key
random.sort(key=takeSecond)

# print list
print('Sorted list:', random)

Sorted list: [(4, 1), (2, 2), (1, 3), (3, 4)]

Let's take another example. Suppose we have a list of information about the employees of an office where each element is a dictionary.

We can sort the list in the following way:

In [ ]:
# sorting using custom key
employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]

# custom functions to get employee info
def get_name(employee):
    return employee.get('Name')


def get_age(employee):
    return employee.get('age')


def get_salary(employee):
    return employee.get('salary')


# sort by name (Ascending order)
employees.sort(key=get_name)
print(employees, end='\n\n')

# sort by Age (Ascending order)
employees.sort(key=get_age)
print(employees, end='\n\n')

# sort by salary (Descending order)
employees.sort(key=get_salary, reverse=True)
print(employees, end='\n\n')

[{'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}]

[{'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]

[{'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}, {'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}]

Here, for the first case, our custom function returns the name of each employee. Since the name is a string, Python by default sorts it using the alphabetical order.

For the second case, age (int) is returned and is sorted in ascending order.

For the third case, the function returns the salary (int), and is sorted in the descending order using reverse = True.

It is a good practice to use the lambda function when the function can be summarized in one line. So, we can also write the above program as:

In [ ]:
# sorting using custom key
employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]

# sort by name (Ascending order)
employees.sort(key=lambda x: x.get('Name'))
print(employees, end='\n\n')

# sort by Age (Ascending order)
employees.sort(key=lambda x: x.get('age'))
print(employees, end='\n\n')

# sort by salary (Descending order)
employees.sort(key=lambda x: x.get('salary'), reverse=True)
print(employees, end='\n\n')

To learn more about lambda functions, visit Python Lambda Functions. [link text](https://www.programiz.com/python-programming/anonymous-function)

**How to Use sorted() and sort() in Python**  [link text](https://realpython.com/python-sort/)  [link text](https://discuss.codecademy.com/t/what-is-the-difference-between-sort-and-sorted/349679)

The primary difference between the list sort() function and the sorted() function is that the sort() function will modify the list it is called on. The sorted() function will create a new list containing a sorted version of the list it is given. The sorted() function will not modify the list passed as a parameter. If you want to sort a list but still have the original unsorted version, then you would use the sorted() function. If maintaining the original order of the list is unimportant, then you can call the sort() function on the list.

In [ ]:
numbers = [6, 9, 3, 1]

print(sorted(numbers))
# [1, 3, 6, 9]

print(numbers.sort())  
# gives None

print(numbers)
# [6, 9, 3, 1]

[1, 3, 6, 9]
None
[1, 3, 6, 9]

The output from this code is a new, sorted list. When the original variable is printed, the initial values are unchanged.

A second important difference is that the sorted() function will return a list so you must assign the returned data to a new variable. The sort() function modifies the list in-place and has no return value.

In [ ]:
numbers = [6, 9, 3, 1]

numbers_sorted = sorted(numbers)

print(numbers_sorted)
# [1, 3, 6, 9]

print(numbers)
# [6, 9, 3, 1]

[1, 3, 6, 9]
[6, 9, 3, 1]

The example below shows the difference in behavior between sort() and sorted(). After being passed to sorted(), the vegetables list remains unchanged. Once the sort() function is called on it, the list is updated.

In [ ]:
vegetables = ['squash', 'pea', 'carrot', 'potato']

new_list = sorted(vegetables)

# new_list = ['carrot', 'pea', 'potato', 'squash']
print(new_list)

# vegetables = ['squash', 'pea', 'carrot', 'potato']
print(vegetables)

vegetables.sort()

# vegetables = ['carrot', 'pea', 'potato', 'squash']
print(vegetables)

['carrot', 'pea', 'potato', 'squash']
['squash', 'pea', 'carrot', 'potato']
['carrot', 'pea', 'potato', 'squash']