<a href="https://colab.research.google.com/github/AzizOzmen/All_Methods/blob/main/String_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **You can reach all String Methods here** [link text](https://www.w3schools.com/python/python_ref_string.asp)

# [link text](https://https://www.programiz.com/python-programming/methods/string)

# **capitalize()** ***
[link text](https://www.programiz.com/python-programming/methods/string/casefold)
[link text](https://www.geeksforgeeks.org/string-capitalize-python/#:~:text=In%20Python%2C%20the%20capitalize(),string_name.)
[link text](https://www.w3schools.com/python/ref_string_capitalize.asp)

**Definition and Usage:** The capitalize() metod returns a string with the first letter capitalized and all other characters lowercased. It doesn't modify the original string.

**Syntax:** string.capitalize()

**Examples: Capitalize a Sentence**

In [ ]:
string = "python is AWesome."
capitalized_string = string.capitalize()  # BE CAREFUL we have to assign method 
                                          # a new variable otherwise there will 
                                          # be no change on orginal variable
print('Old String: ', string)  # There has been no change on original string
print('Capitalized String:', capitalized_string)
print(string.capitalize())  # we put the method inside print function rather than 
                            # assigning it to another variable outside

Old String:  python is AWesome.
Capitalized String: Python is awesome.
Python is awesome.

**Examples: Non-alphabetic First Character**

In [ ]:
string = "+ is an operator."
new_string = string.capitalize()

print(string)  
print(new_string)  # .capitalize() method cannot make any changes on 
                   # non-alphabetical first character

+ is an operator.
+ is an operator.

In [ ]:
txt1 = "52 is my age."
txt2 = "my age is 52."
a = txt1.capitalize()
b = txt2.capitalize()
print(a)
print(b)

52 is my age.
My age is 52.

In [ ]:
string = "python is AWesome."
string.capitalize()  # we have to either assign the method to a new variable or 
                     # or put it inside print() built-in function 
                     # otherwise .capitilize() method cannot work like other methods
print(string)  # There has been no change on original string
print(string.capitalize())

python is AWesome.
Python is awesome.

# **casefold()** ***

**Definition and Usage:**

The casefold() method returns a string where ***all the characters are lower case***.

This method is *similar to the lower() method*, but the casefold() method is stronger, more aggressive, meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.

**Syntax:** 

string.casefold()

**Example: Lowercase using casefold()**

In [ ]:
txt = "Hello, And WelCome To My World!"
x = txt.casefold()
print(x)

hello, and welcome to my world!

In [ ]:
string = "PYTHON IS AWESOME"
print(string.casefold())  # print lowercase string

python is awesome

**Example: Comparison using casefold()**

In [ ]:
firstString = "der Fluß"
secondString = "der Fluss"

# ß is equivalent to ss
if firstString.casefold() == secondString.casefold():
  print('The strings are equal.')
else:
  print('The strings are not equal.')

The strings are equal.

# **center()**

**Definition and Usage:** The center() method will center align the string, using a specified character (space is default) as the fill character.

**Syntax:** string.center(length, character)

**Parameter Values:**

***length	Required.*** The length of the returned string

***character	Optional.*** The character to fill the missing space on each side. Default is " " (space)

In [ ]:
txt = "banana"
x = txt.center(20, "-")  # Using the letter "-" as the padding character:
print(x)

-------banana-------

In [ ]:
string = "Python is awesome"
new_string = string.center(24)
print(new_string)

   Python is awesome

In [ ]:
string = "Python is awesome"
new_string = string.center(24, '*')
print(new_string)

***Python is awesome****

# **count()** ***

**Definition and Usage:**
The count() method returns ***the number of times a specified value*** appears in the string.

**Syntax:** string.count(value, start, end)

**Parameter Values:**

***value	Required.*** 
A String (substring). The string to value to search for

***start	Optional.*** 
An Integer. The position to start the search. Default is 0

***end	Optional.*** 
An Integer. The position to end the search. Default is the end of the string

In [ ]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple", 10, 24)  # try to find if there is the substring of "apple"
                                # between elements of 10 (included) to 24 (not included)
print(x)

1

count() method returns the number of occurrences of the substring in the given string.

In [ ]:
string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

print(count)

2

In [ ]:
string = "Python is awesome, isn't it?"
substring = "i"

# count after first 'i' and before the last 'i'
count = string.count(substring, 8, 25)

print(string[8:25])
print(string.count(substring))
print(count)

s awesome, isn't
3
1

Here, the counting starts after the first i has been encountered, i.e. 7th index position.

And, it ends before the last i, i.e. 25th index position.

# **endswith()**

**Definition and Usage:**

The endswith() method returns True if the string ends with the specified value, otherwise False.

**Syntax:**
string.endswith(value, start, end)

**Parameter Values:**

***value	Required.*** The value to check if the string ends with

***start	Optional.*** An Integer specifying at which position to start the search

***end	Optional.*** An Integer specifying at which position to end the search

**Example: endswith() Without start and end Parameters**

In [ ]:
# Check if the string ends with the phrase "my world.":

txt = "Hello, welcome to my world."
x = txt.endswith("my world.")
print(x)

True

**Example: endswith() With start and end Parameters**

In [ ]:
# Check if position 5 to 11 ends with the phrase "my world.":

txt = "Hello, welcome to my world."
x = txt.endswith("my world.", 5, 11)
print(txt[5:11])
print(x)

, welc
False

**Example: endswith() With Tuple Suffix**

It's possible to pass a tuple suffixes to the endswith() method in Python.

If the string ends with ***any item of the tuple***, endswith() returns ***True***. If not, it returns False

In [ ]:
text = "programming is easy"
result = text.endswith(('programming', 'python'))

print(result) # prints False

result = text.endswith(('python', 'easy', 'java'))

print(result) #prints True

# With start and end parameter
# 'programming is' string is checked
result = text.endswith(('is', 'an'), 0, 14)

print(text[:14])
print(result) # prints True

False
True
programming is
True

# **encode()**

**Definition and Usage:**

The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.

**Syntax:** string.encode(encoding=encoding, errors=errors)

**Parameter Values:**

***encoding	Optional.*** A String specifying the encoding to use. Default is UTF-8

***errors	Optional.*** A String specifying the error method. Legal values are:
'backslashreplace'	- uses a backslash instead of the character that could not be encoded
'ignore'	- ignores the characters that cannot be encoded
'namereplace'	- replaces the character with a text explaining the character
'strict'	- Default, raises an error on failure
'replace'	- replaces the character with a questionmark
'xmlcharrefreplace'	- replaces the character with an xml character

**Example: Encode to Default Utf-8 Encoding**

In [ ]:
# unicode string
string = 'pythön!'
print(string)

# default encoding to utf-8
string_utf = string.encode()
print(string_utf)

pythön!
b'pyth\xc3\xb6n!'

**Example 2: Encoding with error parameter**

In [ ]:
# These examples uses ascii encoding, and a character that cannot be encoded, 
# showing the result with different errors:

txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [ ]:
# unicode string
string = 'pythön!'
print('The string is:', string)

# ignore error
print('The encoded version (with ignore) is:', string.encode("ascii", "ignore"))

# replace error
print('The encoded version (with replace) is:', string.encode("ascii", "replace"))

The string is: pythön!
The encoded version (with ignore) is: b'pythn!'
The encoded version (with replace) is: b'pyth?n!'

# **expandtabs()**

***Definition and Usage:***

The expandtabs() method sets the tab size to the specified number of whitespaces.

**Syntax:** string.expandtabs(tabsize)

**Parameter Values**

***tabsize	Optional.*** A number specifying the tabsize. Default tabsize is 8

In [ ]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [ ]:
str = 'xyz\t12345\tabc'

# no argument is passed
# default tabsize is 8
result = str.expandtabs()

print(result)

xyz     12345   abc

# **find()**

**Definition and Usage:**
The find() method finds the first occurrence of the specified value.

The find() method returns -1 if the value is not found.

The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found. (See example below)

**Syntax:** string.find(value, start, end)

**Parameter Values:**

***value	Required.*** The value to search for

***start	Optional.*** Where to start the search. Default is 0

***end	Optional.*** Where to end the search. Default is to the end of the string

In [ ]:
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)  # prints the index where the character or substring begins

7

In [ ]:
txt = "Hello, welcome to my world."
x = txt.find("e")
print(x)

1

In [ ]:
txt = "Hello, welcome to my world."
x = txt.find("e", 5, 10)
print(x)

8

In [ ]:
txt = "Hello, welcome to my world."

print(txt.find("q"))
# print(txt.index("q"))  # gives ValueError: substring not found

-1

# **format()**

**Definition and Usage:**
The format() method formats the specified value(s) and insert them inside the string's placeholder.

The placeholder is defined using curly brackets: {}. 

The format() method returns the formatted string.

**Syntax:** string.format(value1, value2...)

**Parameter Values**

***value1, value2...	Required.*** One or more values that should be formatted and inserted in the string. The values can be A number specifying the position of the element you want to remove.

The values are either a list of values separated by commas, a key=value list, or a combination of both.

The values can be of any data type.

In [ ]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

**The Placeholders:**

The placeholders can be identified using named indexes {price}, numbered indexes {0}, or even empty placeholders {}.

**String format() Parameters:**

format() method takes any number of parameters. But, is divided into two types of parameters:

***Positional parameters*** - list of parameters that can be accessed with index of parameter inside curly braces {index}

***Keyword parameters*** - list of parameters of type key=value, that can be accessed with key of parameter inside curly braces {key}

![positional argument.PNG]()

![keyword argument.PNG]()

In [ ]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [ ]:
# default arguments
print("Hello {}, your balance is {}.".format("Adam", 230.2346))

# positional arguments
print("Hello {0}, your balance is {1}.".format("Adam", 230.2346))

# keyword arguments
print("Hello {name}, your balance is {blc}.".format(name="Adam", blc=230.2346))

# mixed arguments
print("Hello {0}, your balance is {blc}.".format("Adam", blc=230.2346))

Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.

**Formatting Types:**

Inside the placeholders you can add a formatting type to format the result:

In [ ]:
# To demonstrate, we insert the number 8 to set the available space
# for the value to 8 characters.
# Use "<" to left-align the value:

txt = "We have {:<8} chickens."
print(txt.format(49))
print(len(txt))

We have 49       chickens.
23

**Example: Simple number formatting**

In [ ]:
# integer arguments
print("The number is: {:d}".format(123))

# float arguments
print("The float number is: {:f}".format(123.4567898))

# octal, binary and hexadecimal format
print("bin: {0:b}, oct: {0:o}, hex: {0:x}".format(12))

The number is: 123
The float number is: 123.456790
bin: 1100, oct: 14, hex: c

**Example: Number formatting with padding for int and floats**

In [ ]:
# integer numbers with minimum width
print("{:5d}".format(12))

# width doesn't work for numbers longer than padding
print("{:2d}".format(1234))

# padding for float numbers
print("{:8.3f}".format(12.2346))

# integer numbers with minimum width filled with zeros
print("{:05d}".format(12))

# padding for float numbers filled with zeros
print("{:08.3f}".format(12.2346))

   12
1234
  12.235
00012
0012.235

**Example: Number formatting for signed numbers**

In [ ]:
# show the + sign
print("{:+f} {:+f}".format(12.23, -12.23))

# show the - sign only
print("{:-f} {:-f}".format(12.23, -12.23))

# show space for + sign
print("{: f} {: f}".format(12.23, -12.23))

+12.230000 -12.230000
12.230000 -12.230000
 12.230000 -12.230000

**Example: Number formatting with left, right and center alignment**

In [ ]:
# integer numbers with right alignment
print("{:5d}".format(12))

# float numbers with center alignment
print("{:^10.3f}".format(12.2346))

# integer left alignment filled with zeros
print("{:<05d}".format(12))

# float numbers with center alignment
print("{:=8.3f}".format(-12.2346))

   12
  12.235
12000
- 12.235

**Note:** Left alignment filled with zeros for integer numbers can cause problems as the 3rd example which returns 12000, rather than 12.

**Example: String formatting with padding and alignment**

In [ ]:
# string padding with left alignment
print("{:5}".format("cat"))

# string padding with right alignment
print("{:>5}".format("cat"))

# string padding with center alignment
print("{:^5}".format("cat"))

# string padding with center alignment
# and '*' padding character
print("{:*^5}".format("cat"))

cat
  cat
 cat
*cat*

**Example: Truncating strings with format()**

In [ ]:
# truncating strings to 3 letters
print("{:.3}".format("caterpillar"))

# truncating strings to 3 letters
# and padding
print("{:5.3}".format("caterpillar"))

# truncating strings to 3 letters,
# padding and center alignment
print("{:^5.3}".format("caterpillar"))

cat
cat
 cat

**Formatting class and dictionary members using format()**

Python internally uses getattr() for class members in the form ".age". And, it uses __getitem__() lookup for dictionary members in the form "[index]".


**Example: Formatting class members using format()**

In [ ]:
# define Person class
class Person:
    age = 23
    name = "Adam"

# format age
print("{p.name}'s age is: {p.age}".format(p=Person()))

Adam's age is: 23

Here, Person object is passed as a keyword argument p.

Inside the template string, Person's name and age are accessed using .name and .age respectively.

**Example: Formatting dictionary members using format()**

In [ ]:
# define Person dictionary
person = {'age': 23, 'name': 'Adam'}

# format age
print("{p[name]}'s age is: {p[age]}".format(p=person))

Adam's age is: 23

Similar to class, person dictionary is passed as a keyword argument p.

Inside the template string, person's name and age are accessed using [name] and [age] respectively.

There's an easier way to format dictionaries in Python using str.format(**mapping).

In [ ]:
# define Person dictionary
person = {'age': 23, 'name': 'Adam'}

# format age
print("{name}'s age is: {age}".format(**person))

** is a format parameter (minimum field width).

**Arguments as format codes using format()**

You can also pass format codes like precision, alignment, fill character as positional or keyword arguments dynamically.

**Example: Dynamic formatting using format()**

In [ ]:
# dynamic string format template
string = "{:{fill}{align}{width}}"

# passing format codes as arguments
print(string.format('cat', fill='*', align='^', width=5))

# dynamic float format template
num = "{:{align}{width}.{precision}f}"

# passing format codes as arguments
print(num.format(123.236, align='<', width=8, precision=2))

*cat*
123.24

**Example: Type-specific formatting with format() and overriding __format__() method**

In [ ]:
import datetime
# datetime formatting
date = datetime.datetime.now()
print("It's now: {:%Y/%m/%d %H:%M:%S}".format(date))

# complex number formatting
complexNumber = 1+2j
print("Real part: {0.real} and Imaginary part: {0.imag}".format(complexNumber))

# custom __format__() method
class Person:
    def __format__(self, format):
        if(format == 'age'):
            return '23'
        return 'None'

print("Adam's age is: {:age}".format(Person()))

It's now: 2021/04/24 14:35:52
Real part: 1.0 and Imaginary part: 2.0
Adam's age is: 23

**Example: __str()__ and __repr()__ shorthand !r and !s using format()**

In [ ]:
# __str__() and __repr__() shorthand !r and !s
print("Quotes: {0!r}, Without Quotes: {0!s}".format("cat"))

# __str__() and __repr__() implementation for class
class Person:
    def __str__(self):
        return "STR"
    def __repr__(self):
        return "REPR"

print("repr: {p!r}, str: {p!s}".format(p=Person()))

Quotes: 'cat', Without Quotes: cat
repr: REPR, str: STR

# **index()**

**Definition and Usage:**

The index() method finds the first occurrence of the specified value.

The index() method raises an exception if the value is not found.

The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found. (See example below)

**Syntax:** string.index(value, start, end)

Parameter Values

**value	Required.** The value to search for

**start	Optional.** Where to start the search. Default is 0

**end	Optional.** Where to end the search. Default is to the end of the string

In [ ]:
# Where in the text is the word "welcome"?:
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

**Example: index() With Substring argument Only**

In [ ]:
sentence = 'Python programming is fun.'

result = sentence.index('is fun')
print(result)

# result = sentence.index('Java')
# print(result)  # ValueError: substring not found

19

**Example: index() With start and end Arguments**

In [ ]:
sentence = 'Python programming is fun.'

# Substring is searched in 'gramming is fun.'
print(sentence[10:])
print(sentence.index('ing', 10))

# Substring is searched in 'gramming is '
print(sentence[10:-4])
print(sentence.index('g is', 10, -4))

# # Substring is searched in 'programming'
# print(sentence.index('fun', 7, 18))  # ValueError: substring not found

gramming is fun.
15
gramming is
17

# **isalnum()**

**Definition and Usage:**

The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

Example of characters that are not alphanumeric: (space)!#%&? etc.

In [ ]:
txt = "Company 12"
x = txt.isalnum()
print(x)  # prints False because of space

True

In [ ]:
name = "M234onica"
print(name.isalnum())

# contains whitespace
name = "M3onica Gell22er "
print(name.isalnum())

name = "Mo3nicaGell22er"
print(name.isalnum())

name = "133"
print(name.isalnum())

True
False
True
True

In [ ]:
name = "M0n1caG3ll3r"
if name.isalnum() == True:
  print("All characters of string (name) are alphanumeric.")
else:
  print("All characters are not alphanumeric.")

All characters of string (name) are alphanumeric.

# **isalpha()**

**Definition and Usage:**

The isalpha() method returns True if all the characters are alphabet letters (a-z).

Example of characters that are not alphabet letters: (space)!#%&? etc.

**Syntax:** string.isalpha()

In [ ]:
txt = "Company10"
x = txt.isalpha()
print(x)

False

In [ ]:
name = "Monica"
print(name.isalpha())

# contains whitespace
name = "Monica Geller"
print(name.isalpha())

# contains number
name = "Mo3nicaGell22er"
print(name.isalpha())

True
False
False

In [ ]:
name = "MonicaGeller"

if name.isalpha() == True:
  print("All characters are alphabets")
else:
  print("All characters are not alphabets.")

All characters are alphabets

# **isdecimal()**

**Definition and Usage:**

The isdecimal() method returns True if all the characters are decimals (0-9).

This method is used on unicode objects.

**Syntax:** string.isdecimal()

In [ ]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

In [ ]:
s = "28212"
print(s.isdecimal())

# contains alphabets
s = "32ladk3"
print(s.isdecimal())

# contains alphabets and spaces
s = "Mo3 nicaG el l22er"
print(s.isdecimal())

True
False
False

**Example: String Containing digits and Numeric Characters**

In [ ]:
s = '23455'
print(s.isdecimal())

#s = '²3455'
s = '\u00B23455'
print(s.isdecimal())

# s = '½'
s = '\u00BD'
print(s.isdecimal())

True
False
False

# **isdigit()**

**Definition and Usage:**

The isdigit() method returns True if all the characters are digits, otherwise False.

Exponents, like ², are also considered to be a digit.

**Syntax:** string.isdigit()

In [ ]:
txt = "50800"
x = txt.isdigit()
print(x)

True

In [ ]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²

print(a.isdigit())
print(b.isdigit())

True
True

In [ ]:
s = "28212"
print(s.isdigit())

# contains alphabets and spaces
s = "Mo3 nicaG el l22er"
print(s.isdigit())

True
False

In [ ]:
s = '23455'
print(s.isdigit())

#s = '²3455'
# subscript is a digit
s = '\u00B23455'
print(s.isdigit())

# s = '½'
# fraction is not a digit
s = '\u00BD'
print(s.isdigit())

True
True
False

# **isidentifier()**

**Definition and Usage:**

The isidentifier() method returns True if the string is a valid identifier, otherwise False.

A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

**Syntax:** string.isidentifier()

In [ ]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [ ]:
str = 'Python'
print(str.isidentifier())

str = 'Py thon'
print(str.isidentifier())

str = '22Python'
print(str.isidentifier())

str = ''
print(str.isidentifier())

True
False
False
False

In [ ]:
str = 'root33'
if str.isidentifier() == True:
  print(str, 'is a valid identifier.')
else:
  print(str, 'is not a valid identifier.')
  
str = '33root'
if str.isidentifier() == True:
  print(str, 'is a valid identifier.')
else:
  print(str, 'is not a valid identifier.')
  
str = 'root 33'
if str.isidentifier() == True:
  print(str, 'is a valid identifier.')
else:
  print(str, 'is not a valid identifier.')

root33 is a valid identifier.
33root is not a valid identifier.
root 33 is not a valid identifier.

# **islower()**

**Definition and Usage:**

The islower() method returns True if all the characters are in lower case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

**Syntax:** string.islower()

In [ ]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

In [ ]:
s = 'this is good'
print(s.islower())

s = 'th!s is a1so g00d'
print(s.islower())

s = 'this is Not good'
print(s.islower())

True
True
False

In [ ]:
s = 'this is good'
if s.islower() == True:
  print('Does not contain uppercase letter.')
else:
  print('Contains uppercase letter.')
  
s = 'this is Good'
if s.islower() == True:
  print('Does not contain uppercase letter.')
else:
  print('Contains uppercase letter.')

Does not contain uppercase letter.
Contains uppercase letter.

# **isnumeric()**

**Definition and Usage:**

The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.

Exponents, like ² and ¾ are also considered to be numeric values.

"-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, and the - and the . are not.

**Syntax:** string.isnumeric()

In [ ]:
txt = "565543"
x = txt.isnumeric()
print(x)

True

In [ ]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

In [ ]:
s = '1242323'
print(s.isnumeric())

#s = '²3455'
s = '\u00B23455'
print(s.isnumeric())

# s = '½'
s = '\u00BD'
print(s.isnumeric())

s = '1242323'
s='python12'
print(s.isnumeric())

True
True
True
False

In [ ]:
#s = '²3455'
s = '\u00B23455'

if s.isnumeric() == True:
  print('All characters are numeric.')
else:
  print('All characters are not numeric.')

All characters are numeric.

In [ ]:
print('12345'.isdigit())

print('12345'.isnumeric())

print('一二三四五'.isdigit())

print('一二三四五'.isnumeric())

True
True
False
True

# **isprintable()**

**Definition and Usage:**

The isprintable() method returns True if all the characters are printable, otherwise False.

Example of none printable character can be carriage return and line feed.

**Syntax:** string.isprintable()

Characters that occupy printing space on the screen are known as printable characters. For example:

letters and symbols

digits

punctuation

whitespace

In [ ]:
s = 'Space is a printable'
print(s)
print(s.isprintable())

s = '\nNew Line is printable'
print(s)
print(s.isprintable())

s = ''
print('\nEmpty string printable?', s.isprintable())

Space is a printable
True

New Line is printable
False

Empty string printable? True

In [ ]:
# written using ASCII
# chr(27) is escape character
# char(97) is letter 'a'
s = chr(27) + chr(97)
print(s)

if s.isprintable() == True:
  print('Printable')
else:
  print('Not Printable')
  
s = '2+2 = 4'

if s.isprintable() == True:
  print('Printable')
else:
  print('Not Printable')

a
Not Printable
Printable

# **isspace()**

**Definition and Usage:**

The isspace() method returns **True if all the characters in a string are whitespaces**, otherwise False.

**Syntax:** string.isspace()

In [ ]:
txt = "   s   "
x = txt.isspace()
print(x)

False

In [ ]:
s = '   \t'
print(s.isspace())

s = ' a '
print(s.isspace())

s = ''
print(s.isspace())

True
False
False

In [ ]:
s = '\t  \n'
if s.isspace() == True:
  print('All whitespace characters')
else:
  print('Contains non-whitespace characters')
  
s = '2+2 = 4'

if s.isspace() == True:
  print('All whitespace characters')
else:
  print('Contains non-whitespace characters.')

All whitespace characters
Contains non-whitespace characters.

# **istitle()**

**Definition and Usage:**

The istitle() method returns **True if all words in a text start with a upper case letter**, AND the rest of the word are lower case letters, otherwise False.

Symbols and numbers are ignored.

**Syntax:** string.istitle()

In [ ]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [ ]:
s = 'Python Is Good.'
print(s.istitle())

s = 'Python is good'
print(s.istitle())

s = 'This Is @ Symbol.'
print(s.istitle())

s = '99 Is A Number'
print(s.istitle())

s = 'PYTHON'
print(s.istitle())

True
False
True
True
False

In [ ]:
s = 'I Love Python.'
if s.istitle() == True:
  print('Titlecased String')
else:
  print('Not a Titlecased String')
  
s = 'PYthon'
if s.istitle() == True:
  print('Titlecased String')
else:
  print('Not a Titlecased String')

Titlecased String
Not a Titlecased String

# **isupper()**

**Definition and Usage:**

The isupper() method returns **True if all the characters are in upper case**, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

**Syntax:** string.isupper()

In [ ]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

In [ ]:
string = "THIS IS GOOD!"
print(string.isupper());

# numbers (O ==> 0) in place of alphabets
string = "THIS IS ALS0 G00D!"
print(string.isupper());

# lowercase string
string = "THIS IS not GOOD!"
print(string.isupper());

True
True
False

In [ ]:
string = 'THIS IS GOOD'
if string.isupper() == True:
  print('Does not contain lowercase letter.')
else:
  print('Contains lowercase letter.')
  
string = 'THIS IS gOOD'
if string.isupper() == True:
  print('Does not contain lowercase letter.')
else:
  print('Contains lowercase letter.')

Does not contain lowercase letter.
Contains lowercase letter.

# join() *** **bold text**

**Definition and Usage:**

The join() method takes all items in an iterable and joins them into one string.

A string must be specified as the separator.

The join() method provides a flexible way to create strings from iterable objects. It joins each element of an iterable (such as list, string, and tuple) by a string separator (the string on which the join() method is called) and returns the concatenated string.

**Syntax:** string.join(iterable)

**Parameter Values:**

***iterable	Required.*** Any iterable object where all the returned values are strings

In [ ]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [ ]:
# .join() with lists
numList = ['1', '2', '3', '4']
separator = ', '
print(separator.join(numList))

# .join() with tuples
numTuple = ('1', '2', '3', '4')
print(separator.join(numTuple))

s1 = 'abc'
s2 = '123'
s3 = 'A'
# each element of s2 is separated by s1
# '1'+ 'abc'+ '2'+ 'abc'+ '3'
print('s1.join(s2):', s1.join(s2))

# each element of s1 is separated by s2
# 'a'+ '123'+ 'b'+ '123'+ 'b'
print('s2.join(s1):', s2.join(s1))

print(s3.join(s1))

1, 2, 3, 4
1, 2, 3, 4
s1.join(s2): 1abc2abc3
s2.join(s1): a123b123c
aAbAc

**Example: The join() method with sets**

In [ ]:
test = {'2', '1', '3'}
s = ', '
print(s.join(test))

test = {'Python', 'Java', 'Ruby'}
s = '->->'
print(s.join(test))

3, 2, 1
Ruby->->Python->->Java

**Example: The join() method with dictionaries**

In [ ]:
test = {'mat': 1, 'that': 2}
s = '->'

# joins the keys only
print(s.join(test))

test = {1: 'mat', 2: 'that'}
s = ', '

# this gives error since key isn't string
# print(s.join(test))

mat->that

The join() method tries to join the keys (not values) of the dictionary with the string separator.

Note: If the key of the string is not a string, it raises a TypeError exception SINCE join() method is a STRING METHOD.

# **ljust()**

**Definition and Usage:**

The ljust() method will **left align the string**, using a specified character (space is default) as the fill character.

**Syntax:** string.ljust(length, character)

**Parameter Values**

***length	Required.*** The length of the returned string

***character	Optional.*** A character to fill the missing space (to the right of the string). Default is " " (space).

In [ ]:
txt = "banana"
x = txt.ljust(20)
print(x, "is my favorite fruit.")

banana               is my favorite fruit.

**Note:** In the result, there are actually 14 + 1 whitespaces to the right of the word banana.

In [ ]:
string = 'cat'
width = 5

# print left justified string
print(string.ljust(width))

cat

In [ ]:
string = 'cat'
width = 5
fillchar = '*'

# print left justified string
print(string.ljust(width, fillchar))
print(string.ljust(5, '*'))

cat**
cat**

Here, the string cat is aligned to the left, and the remaining two spaces on the right is filled with the character *.

**Note:** If you want to right justify the string, use rjust(). You can also use format() method for the formatting of strings.

# **rjust()**

In [ ]:
x=1234
# print(len(x))  TypeError: object of type 'int' has no len()
print(len(str(x)))

4

# **lower()**

**Definition and Usage**

The lower() method returns a string where all characters are lower case.

lower() method doesn't take any parameters.

Symbols and Numbers are ignored.

**Syntax:** string.lower()

**Example: Convert a string to lowercase**

In [ ]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [ ]:
# example string
string = "THIS SHOULD BE LOWERCASE!"
print(string.lower())

# string with numbers
# all alphabets whould be lowercase
string = "Th!s Sh0uLd B3 L0w3rCas3!"
print(string.lower())

this should be lowercase!
th!s sh0uld b3 l0w3rcas3!

**Example: How lower() is used in a program?**

In [ ]:
# first string
firstString = "PYTHON IS AWESOME!"

# second string
secondString = "PyThOn Is AwEsOmE!"

if(firstString.lower() == secondString.lower()):
    print("The strings are same.")
else:
    print("The strings are not same.")

The strings are same.

**Note:** If you want to convert to uppercase string, use upper(). You can also use swapcase() to swap between lowercase to uppercase.

# **strip()**

**Definition and Usage**

The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

**Syntax:** string.strip(characters)

**Parameter Values**

characters	Optional. A set of characters to remove as leading/trailing characters

**Working of the strip() method**

When the character of the string in the left mismatches with all the characters in the chars argument, it stops removing the leading characters.

Similarly, when the character of the string in the right mismatches with all the characters in the chars argument, it stops removing the trailing characters.

In [ ]:
# Remove the leading and trailing characters:

txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

In [ ]:
string = '  xoxo love xoxo   '

# Leading and trailing whitespaces are removed
print(string.strip())

# All <whitespace>,x,o,e characters in the left
# and right of string are removed
print(string.strip(' xoe'))

# If argument doesn't contain space, No characters are removed.
print(string.strip('stx'))

string = 'android is awesome'
print(string.strip('an'))

xoxo love xoxo
lov
  xoxo love xoxo
droid is awesome

Here, we can see that the first expression string.strip() without any arguments removed the whitespaces from the left and right of string.

string.strip(' xoe') removed all whitespace, x, o, and e that lead or trailed the string.

Since string has whitespace at the beginning and end, the expression string.strip('stx') does not change the string. x is not removed since it is at the middle of the string (whitespaces lead and trail the string)

string.strip('an') removed an leading the string.

# **lstrip()**

**Definition and Usage**

The lstrip() method removes any leading characters (space is the default leading character to remove)

**Syntax:** string.lstrip(characters)

**Parameter Values**

characters	Optional. A set of characters to remove as leading characters

In [ ]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

In [ ]:
random_string = '   this is good '  # whatch out, there is also a trailing space 

# Leading whitepsace are removed
print(random_string.lstrip())

# If argument doesn't contain space, No characters are removed.
print(random_string.lstrip('sti'))

print(random_string.lstrip('s ti'))

website = 'https://www.programiz.com/'
print(website.lstrip('htps:/.'))

this is good
   this is good
his is good
www.programiz.com/

# **rstrip()**

**Definition and Usage**

The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

**Syntax:** string.rstrip(characters)

**Parameter Values**

**characters	Optional.** A set of characters to remove as trailing characters

**Examples: Working of rstrip()**

In [ ]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [ ]:
txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

banana

In [ ]:
random_string = 'this is good    '

# Trailing whitepsace are removed
print(random_string.rstrip())

# Argument doesn't contain 'd'
# No characters are removed.
print(random_string.rstrip('si oo'))

print(random_string.rstrip('sid oo'))  # we added 'd' to previous example

website = 'www.programiz.com/'
print(website.rstrip('m/.'))

this is good
this is good
this is g
www.programiz.co

# **split()**

**Definition and Usage**

The split() method splits a string into a list.

You can specify the separator, default separator is any whitespace.

**Note:** When maxsplit is specified, the list will contain the specified number of elements plus one.

**Syntax:** string.split(separator, maxsplit)

**Parameter Values**

**separator	Optional.** Specifies the separator to use when splitting the string. By default any whitespace is a separator

**maxsplit	Optional.** Specifies how many splits to do. Default value is -1, which is "all occurrences"

**Example: How split() works in Python?**

In [ ]:
# Split a string into a list where each word is a list item:

txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [ ]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
text= 'Love thy neighboor'

# splits at space
print(text.split())

grocery = 'Milk, Chicken, Bread'

# splits at ','
print(grocery.split(', '))  # whatch out the space after comma

# Splitting at ':'
print(grocery.split(':'))

['Love', 'thy', 'neighboor']
['Milk', 'Chicken', 'Bread']
['Milk, Chicken, Bread']

**Example: How split() works when maxsplit is specified?**

In [ ]:
grocery = 'Milk, Chicken, Bread, Butter'

# maxsplit: 2
print(grocery.split(', ', 2))

# maxsplit: 1
print(grocery.split(', ', 1))

# maxsplit: 5
print(grocery.split(', ', 5))

# maxsplit: 0
print(grocery.split(', ', 0))

['Milk', 'Chicken', 'Bread, Butter']
['Milk', 'Chicken, Bread, Butter']
['Milk', 'Chicken', 'Bread', 'Butter']
['Milk, Chicken, Bread, Butter']

In [ ]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

If maxsplit is specified, the list will have the maximum of maxsplit+1 items.

# **splitlines()**

**Definition and Usage**

The splitlines() method splits a string into a list. The splitting is done at line breaks.

**Syntax:** string.splitlines(keeplinebreaks)

**Parameter Values**

**keeplinebreaks	Optional.** Specifies if the line breaks should be included (True), or not (False). Default value is False

splitlines() takes maximum of 1 parameter.

keepends (optional) - If keepends is provided and True, line breaks are also included in items of the list.

By default, the line breaks are not included.

![splitlines().PNG]()

**Examples: How splitlines() works?**

In [ ]:
txt = "Thank you for the music\nWelcome to the jungle"

x1 = txt.splitlines()
# x2 = x1.split() # AttributeError: 'list' object has no attribute 'split'

print(x1)
# print(x2)

['Thank you for the music', 'Welcome to the jungle']

In [ ]:
# If keepends is provided and True, line breaks are also included in items of the list.

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines(True)

print(x)

['Thank you for the music\n', 'Welcome to the jungle']

In [ ]:
grocery = 'Milk\nChicken\r\nBread\rButter'

print(grocery.splitlines())
print(grocery.splitlines(True))

grocery = 'Milk Chicken Bread Butter'
print(grocery.splitlines())

['Milk', 'Chicken', 'Bread', 'Butter']
['Milk\n', 'Chicken\r\n', 'Bread\r', 'Butter']
['Milk Chicken Bread Butter']

# **startswith()**

**Definition and Usage**

The startswith() method returns True if the string starts with the specified value, otherwise False.

**Syntax:** string.startswith(value, start, end)

**Parameter Values**

**value	Required.** The value to check if the string starts with
**start	Optional.** An Integer specifying at which position to start the search
**end	Optional.** An Integer specifying at which position to end the search

**Examples: startswith() Without start and end Parameters**

In [ ]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [ ]:
text = "Python is easy to learn."

result = text.startswith('is easy')
# returns False
print(result)

result = text.startswith('Python is ')
# returns True
print(result)

result = text.startswith('Python is easy to learn.')
# returns True
print(result)

False
True
True

**Examples: startswith() With start and end Parameters**

In [ ]:
txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)
print(txt[7:])

True
welcome to my world.

In [ ]:
text = "Python programming is easy."

# start parameter: 7
# 'programming is easy.' string is searched
result = text.startswith('programming is', 7)
print(text[7:])
print(result)

# start: 7, end: 18
# 'programming' string is searched
result = text.startswith('programming is', 7, 18)
print(text[7:18])
print(result)

result = text.startswith('program', 7, 18)
print(result)

programming is easy.
True
programming
False
True

**Passing Tuple to startswith()**

It's possible to pass a tuple of prefixes to startswith() method in Python.

If the string starts with **any item of the tuple**, startswith() returns True. If not, it returns False

**Examples: startswith() With Tuple Prefix**

In [ ]:
text = "programming is easy"
result = text.startswith(('python', 'programming'))

# prints True
print(result)

result = text.startswith(('is', 'easy', 'java'))

# prints False
print(result)

# With start and end parameter
# 'is easy' string is checked
result = text.startswith(('programming', 'easy'), 12, 19)

# prints False
print(text[12:19])
print(result)

True
False
is easy
False

# **endswith()**

**Definition and Usage**

The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

**Syntax:** string.swapcase()

**Note:**  Not necessarily, string.swapcase().swapcase() == string

**Examples: Swap lowercase to uppercase and vice versa using swapcase()**

In [ ]:
txt = "Hello My Name Is PETER"

x1 = txt.swapcase()
x2 = txt.swapcase().swapcase()

print(x1)
print(x2)

hELLO mY nAME iS peter
Hello My Name Is PETER

In [ ]:
# example string
string = "THIS SHOULD ALL BE LOWERCASE."
print(string.swapcase())

string = "this should all be uppercase."
print(string.swapcase())

string = "ThIs ShOuLd Be MiXeD cAsEd."
print(string.swapcase())

this should all be lowercase.
THIS SHOULD ALL BE UPPERCASE.
tHiS sHoUlD bE mIxEd CaSeD.

**Note:** If you want to convert string to lowercase only, use lower(). Likewise, if you want to convert string to uppercase only, use upper().

**Definition and Usage**

The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

If the word contains a number or a symbol, the first letter after that will be converted to upper case.

**Syntax:** string.title()

In [ ]:
txt1 = "Welcome to my world"
txt2 = "1Welcome #to %my *world"

x1 = txt1.title()
x2 = txt2.title()

print(x1)
print(x2)

Welcome To My World
1Welcome #To %My *World

In [ ]:
txt = "Welcome to my 2nd world"

x = txt.title()

print(x)

Welcome To My 2Nd World

In [ ]:
txt = "hello b2b2b2 and 3g3g3g"

x = txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

In [ ]:
text = "He's an engineer, isn't he?"
print(text.title())

He'S An Engineer, Isn'T He?

**Example: Using Regex to Title Case String**

In [ ]:
import re

def titlecase(s):
    return re.sub(r"[A-Za-z]+('[A-Za-z]+)?",
     lambda mo: mo.group(0)[0].upper() +
     mo.group(0)[1:].lower(),
     s)

text = "He's an engineer, isn't he?"
print(titlecase(text))

He's An Engineer, Isn't He?

# **translate()**

**Definition and Usage**

The translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

Use the maketrans() method to create a mapping table.

If a character is not specified in the dictionary/table, the character will not be replaced.

If you use a dictionary, you must use ascii codes instead of characters.

**Syntax:** string.translate(table)

**Parameter Values**

**table	Required.** Either a dictionary, or a mapping table describing how to perform the replace

In [ ]:
# Replace any "S" characters with a "P" character:

#use a dictionary with ascii codes to replace 83 (S) with 80 (P):

mydict = {83: 80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [ ]:
# Use a mapping table to replace "S" with "P":

txt = "Hello Sam, Sandy and Sammy!"
mytable = txt.maketrans("S", "P")
# mytable = txt.maketrans("Sa", "P") # ValueError: the first two maketrans arguments must have equal length
print(txt.translate(mytable))

Hello Pam, Pandy and Pammy!

In [ ]:
txt = "Hello Sam, Sandy and Sammy!"

print(txt.replace('S', 'P'))
print(txt.replace('Sam', 'Aziz'))

Hello Pam, Pandy and Pammy!
Hello Aziz, Sandy and Azizmy!

In [ ]:
txt = "Hello Sam, Sandy and Sammy!"

print(txt.replace('s', 'P'))

Hello Sam, Sandy and Sammy!

In [ ]:
count = 0
while count >= 0:
  print(count)
  count+=1
  if count == 10:
    count =- 1

In [ ]:
# Use a mapping table to replace many characters:

txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [ ]:
# The third parameter in the mapping table describes characters that you want to remove from the string:

txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [ ]:
# The same example as above, but using a dictionary instead of a mapping table:

txt = "Good night Sam!"
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

In [ ]:
# first string
firstString = "abc"
secondString = "ghi"
thirdString = "ab"

string = "abcdef"
print("Original string:", string)

translation = string.maketrans(firstString, secondString, thirdString)

# translate string
print("Translated string:", string.translate(translation))

Original string: abcdef
Translated string: idef

Here, the translation mapping translation contains the mapping from a, b and c to g, h and i respectively.

But, the removal string thirdString resets the mapping to a and b to None.

So, when the string is translated using translate(), a and b are removed, and c is replaced i outputting idef.

Note: If you cannot understand what's going inside maketrans(), please refer to String maketrans().

In [ ]:
# translation table - a dictionary
translation = {97: None, 98: None, 99: 105}

string = "abcdef"
print("Original string:", string)

# translate string
print("Translated string:", string.translate(translation))

Original string: abcdef
Translated string: idef

Here, we don't create a translation table from maketrans() but, we manually create the mapping dictionary translation.

This translation is then used to translate string to get the same output as the previous example.

# **upper()**

**Definition and Usage**

The upper() method returns a string where all characters are in upper case.

Symbols and Numbers are ignored.

upper() method returns the uppercased string from the given string. It converts all lowercase characters to uppercase.

If no lowercase characters exist, it returns the original string.

**Syntax:** string.upper()

In [ ]:
txt = "Hello my Fellows of Cohort-008"

x = txt.upper()

print(x)

HELLO MY FELLOWS OF COHORT-008

In [ ]:
# example string
string = "this should be uppercase!"
print(string.upper())

# string with numbers
# all alphabets whould be lowercase
string = "Th!s Sh0uLd B3 uPp3rCas3!"
print(string.upper())

THIS SHOULD BE UPPERCASE!
TH!S SH0ULD B3 UPP3RCAS3!

**Example: How upper() is used in a program?**

In [ ]:
# first string
firstString = "python is awesome!"

# second string
secondString = "PyThOn Is AwEsOmE!"

if(firstString.upper() == secondString.upper()):
    print("The strings are same.")
else:
    print("The strings are not same.")

The strings are same.

**Note:** If you want to convert to lowercase string, use **lower()**. You can also use **swapcase()** to swap between lowercase to uppercase.

In [ ]:
# example string
string = "THIS SHOULD BE LOWERCASE!"
print(string.lower())

# string with numbers
# all alphabets whould be lowercase
string = "Th!s Sh0uLd B3 L0w3rCas3!"
print(string.lower())

this should be lowercase!
th!s sh0uld b3 l0w3rcas3!

In [ ]:
# example string
string = "THIS SHOULD ALL BE LOWERCASE."
print(string.swapcase())

string = "this should all be uppercase."
print(string.swapcase())

string = "ThIs ShOuLd Be MiXeD cAsEd."
print(string.swapcase())

this should all be lowercase.
THIS SHOULD ALL BE UPPERCASE.
tHiS sHoUlD bE mIxEd CaSeD.

**REMEMBER;** the **islower()** method which returns True if all alphabets in a string are lowercase alphabets. If the string contains at least one uppercase alphabet, it returns False.

In [ ]:
s = 'this is good'
print(s.islower())

s = 'th!s is a1so g00d'
print(s.islower())

s = 'this is Not good'
print(s.islower())

True
True
False

In [ ]:
s = 'this is good'
if s.islower() == True:
  print('Does not contain uppercase letter.')
else:
  print('Contains uppercase letter.')
  
s = 'this is Good'
if s.islower() == True:
  print('Does not contain uppercase letter.')
else:
  print('Contains uppercase letter.')

Does not contain uppercase letter.
Contains uppercase letter.

**REMEMBER;** the string **isupper()** method returns whether or not all characters in a string are uppercased or not.

In [ ]:
# example string
string = "THIS IS GOOD!"
print(string.isupper());

# numbers in place of alphabets
string = "THIS IS ALSO G00D!"
print(string.isupper());

# lowercase string
string = "THIS IS not GOOD!"
print(string.isupper());

True
True
False

In [ ]:
string = 'THIS IS GOOD'
if string.isupper() == True:
  print('Does not contain lowercase letter.')
else:
  print('Contains lowercase letter.')
  
string = 'THIS IS gOOD'
if string.isupper() == True:
  print('Does not contain lowercase letter.')
else:
  print('Contains lowercase letter.')

Does not contain lowercase letter.
Contains lowercase letter.

# **zfill()**

**Definition and Usage**

The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

**Syntax:** string.zfill(len)

**Parameter Values**

**len	Required**. A number specifying the position of the element you want to remove

In [ ]:
# Fill the string with zeros until it is 10 characters long:

txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [ ]:
text = "program is fun"
print(text.zfill(15))
print(text.zfill(20))
print(text.zfill(10))  # the value of the len parameter is less than the length 
                       # of the string, no filling is done.

0program is fun
000000program is fun
program is fun

**Example: How zfill() works with Sign Prefix?**

In [ ]:
number = "-290"
print(number.zfill(8))

number = "+290"
print(number.zfill(8))

text = "--random+text"
print(text.zfill(20))

-0000290
+0000290
-0000000-random+text

# **format_map()**

The format_map() method is similar to str.format(mapping) except that str.format(mapping) creates a new dictionary whereas str.format_map(mapping) doesn't.

format_map() takes a single argument mapping(dictionary).

format_map() formats the given string and returns it.

**The syntax:** str.format_map(mapping)

Before talking about format_map(). Let's see how str.format(**mapping) works for Python Dictionaries.

In [ ]:
point = {'x': 4, 'y': -5}
print('{x} {y}'.format(**point))

4 -5

In [ ]:
point = {'x': 4, 'y': -5}
print('{x} {y}'.format_map(point))

point = {'x':4, 'y': -5, 'z': 0}
print('{x} {y} {z}'.format_map(point))

4 -5
4 -5 0

Learn more on, **how to format strings** in Python? [link text](https://https://www.programiz.com/python-programming/methods/string/format)

The format_map(mapping) is similar to str.format(**mapping) method.

The only difference is that str.format(**mapping) copies the dict whereas str.format_map(mapping) makes a new dictionary during method call. This can be useful if you are working with a dict subclass.

**Example: How format_map() works with dict subclass?**

In [ ]:
class Coordinate(dict):
    def __missing__(self, key):
      return key

print('({x}, {y})'.format_map(Coordinate(x='6')))
print('({x}, {y})'.format_map(Coordinate(y='5')))
print('({x}, {y})'.format_map(Coordinate(x='6', y='5')))

(6, y)
(x, 5)
(6, 5)